*{
    line-height: normal;            /*hauteur de ligne*/
    /*font-weight: 500;*/
    box-sizing: border-box;          /*gestion des boites et marges avec la taille des bordures incluse*/
    margin: 0;
    padding: 0; /*Reset des bordures*/
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: #fdfdfd;
}


/******************
NAVBAR style
******************/

.navbar {
    margin-bottom: 0;
    background-color: #881a1b;
    border: none;
    border-radius: 0;
    color: #fff;
}

nav {
    padding: .5em;
}

nav li a,
.navbar-brand {
    color: #fff;
}

nav li a:focus,
nav li a:hover,
.navbar-brand:focus,
.navbar-brand:hover {
    background-color: transparent!important;
    color: #fff;
}

.navbar form {
    position: relative;
}

.navbar form button {
    position: absolute;
    top: .7em;
    right: 1em;
}

@media screen and (min-width: 768px) {
    .navbar form button {
        top: 0;
    }
}

.navbar-toggle .icon-bar{
    background-color: #fff;
}

/* end of nabar */

/******************
  HEADER style
******************/

header {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 65vh;
}

.online-reserve {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2em;
    width: 100%;
    background-color: rgba(10,10,10,.7);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 300;
    z-index: 1;
}

.online-reserve a {
    display: inline-block;
    margin-left: 1em;
    padding: .5em;
    border: 1px solid #fff;
    border-radius: .5em;
    color: #fff;
}

.online-reserve a:hover,
.online-reserve a:focus {
    background-color: #b17070;
    border-color: #b17070;
    text-decoration: none;
    transition: all 500ms ease;
}

/****** Header's carousel styling ******/

.item {
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: center center;
}

 /*.carousel-item-1 {
    background-image: url(../img/img_header/img_header1.jpg)
}

.carousel-item-2 {
    background-image: url(../img/img_header/img_header2.jpg)
}

.carousel-item-3 {
    background-image: url(../img/img_header/img_header3.jpg)
}*/

.owl-prev,
.owl-next {
    font-size: 2em;
    color: #fff;
}
.owl-prev {
    position: absolute;
    top: 35%;
    margin-left: 1em;
}

.owl-next {
    position: absolute;
    top: 35%;
    right: 0;
    margin-right: 1em;
}
/******End of header ******/

/******************
  INDEX.php style
******************/

#title-index{
    font-family: 'Courgette', sans-serif;
    font-weight: bold;
    font-size: 3em;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.index-recipe-link{
    display: inline-block;
    margin-top: 1.5em;
    margin-bottom: 1.2em;
    color: #2f4f4f;
    font-size: 1.1em;
    font-weight: bold;
}

.index-recipe-link:hover,
.index-recipe-link:focus{
    color: #2f4f4f;
    font-weight: bold;
}

.index-recipe-img-container {
    position: relative;
}

.index-recipe-img{
    width: 97%;
    border-radius: .3em;
}
.index-recipe-ingredients {
    position: absolute;
    top: 0;
    left: 1.5%;
    padding: 2em;
    width: 97%;
    height: 100%;
    background-color: #881a1b;
    color: #fff;
    border-radius: .3em;
    font-weight: 300;
    line-height: 2;
    opacity: 0;
}

.index-recipe-ingredients:hover {
    opacity: .75;
    transition: all 500ms ease;
}

.index-recipe-link-all {
    display: inline-block;
    margin-top: 1em;
    color: #2f4f4f;
}


section#index-our-chef {
    position: relative;
    width: 100%;
    height: 80vh;
    background: url(../img/index-chef.jpeg) top center no-repeat;
    background-size: cover;
}

.see-all-recipes-index {
    position: absolute;
    top: 65%;
    left: 5%;
    padding: 0.5em 1.5em;
    border: none;
    border-radius: .4em;
    font-family: 'Courgette', sans-serif;
    font-size: 1.5em;
    background-color: #ead7c7;
    color: #fff;
}

.see-all-recipes-index:hover {
    background-color: #cfbaa9;
    transition: all 700ms ease-in-out;
}

@media screen and (min-width: 768px) {
    .see-all-recipes-index {
        top: 15%;
        left: 5%;
        padding: 1em 2em;
    }
}

/******************
  page2.php style
******************/
.titre-p2{
    color: #FFF;
}

#msgInsert {
    position: relative;
}

.page2-recette{
    min-height: 45em;
}
/**********Style de la page read_recipe **********/
.imgOneRecipe {
    text-align: center;
}

.readTitle{
    color: #3E2A1F;
}

.readPublish{
    color: #008080;
}

.readContent{
    width: 350px;
}


/*******Liste des plats********/
.img-list{
    max-height: 300px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

/******Styles des recipes affichage via search*****/


.search-result{
    margin: 1em auto;
    padding: 2em 3em;
    width: 80%;
    background-color: #ECF0F1;
    border-radius: .4em;
    text-align: center;
}

.search-recipe-title {
    font-size: 2.5em;
    color: #1abc9c;
    text-align: center;
}

.search-recipe-date {
    margin-left: 13%;
    text-align: left;
}

.search-recipe-img {
    width: 45em;
    height: 37em;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: 50% 50%;
}

.search-recipe-content {
    margin: 0 auto;
    margin-top: 20px;
    width: 75%;
    background-color: #ecf0f1;
    font-size: 1.2em;
    text-align: left;
}

/*ma lettre surlignée*/
.search-recipe-keyword {
   color: #34495e;
   background-color: #bdc3c7;
}

.noresult-search {
    padding: 4em;
}

/******Styles du Footer*****/

footer{
    text-align: center;
    background-color: #3a2d2d;
    color: #fff;
    padding: 25px 0;
    font-family: 'Architects Daughter', cursive;
}
footer h4{

    font-size:25px;
    font-weight: 300;
}
footer p{
    color: #fff;
    font-size: 15px;
}
